.visit-item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #1f1f2f;
  height: 30vh;
}

.country-img {
  height: 150px;
}

.country-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.country-name {
  color: #f1f5f9;
  font-family: Roboto;
  font-size: 16px;
}

.remove-btn {
  color: #f1f5f9;
  font-family: Roboto;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #ffffff;
  height: 30px;
  padding: 5px;
  width: 75px;
  cursor: pointer;
  border-radius: 3px;
}
